<mat-card>
    <mat-card-content>
        <form [formGroup]="prodForm" (ngSubmit)="onSubmit()"> 
            <div class="form-group">
                <label for="name">Name</label>
                <input 
                formControlName="name"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="f['name'].touched && f['name'].hasError('required')">
                    This is an required field!!!
                </strong>
            </div>

             
            <div class="form-group">
                <label for="overview">Description</label>
                <input 
                formControlName="overview"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="f['overview'].touched && f['overview'].hasError('required')">
                    This is an required field!!!
                </strong>
            </div>
            <div class="form-group">
                <label for="image">ImageUrl</label>
                <input 
                formControlName="image"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="f['image'].touched && f['image'].hasError('required')">
                    This is an required field!!!
                </strong>
            </div>
            <button *ngIf="!isInEditMode" mat-raised-button color="primary" class="w-100">Add Movie</button>
            <button (click)="onUpdate()" *ngIf="isInEditMode" type="button" mat-raised-button color="primary" class="w-100">Update Movie</button>
            
        </form>
    </mat-card-content>
</mat-card>
