.spinner{
    position: fixed;
    top : 0;
    left :0;
    width : 100%;
    height : 100vh;
    background-color: rgb(127, 255, 212,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}